@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* base styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  min-height: 100vh;
  align-items: center;
  background-color: whitesmoke;
}

/* NavBar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #e4e4e4;
}
#navbar-title{
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 25px;
  text-decoration: none;
  padding: 10px;
}
.navbar a:hover {
  color: #3300ff;
}
.content {
  max-width: auto;
  margin: 40px auto;
  padding: 20px;
}

/* Footer */
.footer *{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #5b35f1;
  margin-bottom: 8px;
}

/* Login */

.login-container {
  display: flex;
  justify-content: center;
  width: 600px;
  border-radius: 10px;
  border: 5px solid #d1d1e0;
  margin: auto;
}

.input--email {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.input--password {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.login--button {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.login--form {
padding: 20px;
  
}

.input--feil {
  text-align: center;
  padding-top: 10px;
}

.blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.blog-card {
  display: flow-root;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 5px solid #4f4f4f;
  transition: 1s;
}
.blog-card p{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.blog-card:hover {
  /*background-color: rgb(203, 203, 203); */
  transform: scale(1.3);
  box-shadow: 2px 2px 2px #000;
}

.blog-tittel {
  text-align: center;
  padding-top: 10px;
}

.blog-tekst {
  padding: 10px 10px 0px 0px;
}

/* About */

.about {
  display: grid;
  justify-content: center;
}

.about-title {
  text-align: center;
  padding-bottom: 70px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.about-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.about-card {
  display: flow-root;
  width: 200px;
}

.about--img{
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 15px;
  object-fit: cover;
}

.about--name {
  text-align: center;
  padding-top: 10px;
}

.about--desc {
  text-align: center;
  padding-top: 10px;
}

.about--button {
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}