@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* base styles */
* {
  box-sizing: border-box;
}

body {
  /*overflow: hidden;*/
  margin: 0;
  font-family: "Poppins";
  min-height: 100vh;
  align-items: center;
  background-color: whitesmoke;
}

/* NavBar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #e4e4e4;
  
}
#navbar-title{
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 25px;
  text-decoration: none;
  padding: 10px;
  color: black;
}

.links a:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
}

.links .active {
  border-bottom: 3px solid rgb(0, 0, 0);
}

.content {
  max-width: auto;
  padding: 20px;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  background-color: rgba(179, 179, 179, 0.9);
  text-align: center;
}
.footer-gh{
  padding-bottom: 10px;
}
.footer-gh #gh-logo{
  width: 25px;
  padding-right: 10px;
}

.footer-usn{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  border-top: 1px solid #000000;
}
.footer-usn small{
  margin-top: 10px;
}
.footer-usn #usn-logo{
  width: 40px;
  padding-right: 10px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 3px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #5b35f1;
  margin-bottom: 8px;
}

/* Login input */

.input-container {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 450px;
  border: 1px #161616;
  border-style: solid;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
}

.input--title {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.input--email {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.input--username {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #D5D4D8;
}

.input--password {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #D5D4D8;
}

.input--button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}

.input--button:hover {
  background-color: darkgrey;

}

.input--form {
  padding: 20px; 
}

.input--feil {
  text-align: center;
  padding-top: 10px;
  color:red;
}

/* Blog */

.blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.blog-card {
  display: flow-root;
  width: 300px;
  height: 300px;
  border: 1px #161616;
  border-style: solid;
  border-radius: 5px;
  transition: 0.3s;
}
.blog-card p{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.blog-card:hover {
  /*background-color: rgb(203, 203, 203); */
  transform: scale(1.05);
  box-shadow: 1px 1px 1px 1px #000;
}

.blog-tittel {
  text-align: center;
  padding-top: 10px;
}

.blog-tekst {
  padding: 10px 10px 0px 0px;
}
.blog-link{
  position: relative;
  display: block;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* Documentation */

.documentation-container{
  height: 500px;
}

/* About */

.about {
  display: grid;
  justify-content: center;
}

.about-title {
  text-align: center;
  padding-bottom: 70px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.about-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.about-card {
  display: flow-root;
  width: 200px;
}

.about--img{
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 15px;
  object-fit: cover;
}

.about--name {
  text-align: center;
  padding-top: 10px;
}

.about--desc {
  text-align: center;
  padding-top: 10px;
}

.about--button {
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}

.about--button:hover {
   background-color: darkgrey;

}

/* Request */
.foresporsel--div {
  display: flex;
  justify-content: center;
}

.foresporsel--form {
  display: grid;
  padding: 10px 100px 30px 100px;
  border: 1px #161616;
  border-style: solid;
  border-radius: 5px;

}

.foresporsel--tittel {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.foresporsel--button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}

.foresporsel--button:hover {
  background-color: darkgrey;

}

/* Workbench */

.workbench{
  display: flex;
}

.workbench-buttons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.name-your-work{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  padding-right: 80px;
}

.save-workbench-button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1rem;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.prev-button{
  position: static; 
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -25px;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button:hover{
  background-color: #c0c0c0;
}

.template-title{
  text-align: center; 
}

.workbench-title{
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.workbench-template-list{
  width: 250px;
  height: auto;
  border: 2px #000000;
  border-style: solid;
  border-radius: 5px;
  flex-direction: row;
  flex: 0 0 auto;
  overflow-x: auto;
}

.workbench-templates{
  width: 100%;
  height: 25%;
  padding: 10px;
}

.workbench-component-list{
  width: 250px;
  height: 590px;
  border: 2px #000000;
  border-style: solid;
  border-radius: 5px;
  flex-direction: row;
  flex: 0 0 auto;
  overflow-x: auto;
}

.workbench-components{
  width: 100%;
  height: 25%;
  padding: 10px;
}

.workbench--screen{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 590px;
  border: 3px #000000;
  border-style: solid;
  border-radius: 5px;
}

.workbench--screen--vertical{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 590px;
  height: 960px;
  border: 3px #000000;
  border-style: solid;
  border-radius: 5px;
}


.templateBox {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.templateBox:hover {
  background-color: rgb(164, 164, 164);
}

.templateBoxVertical{
  transform: rotate(90deg);
  margin-top: 60px;
  margin-bottom: 110px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;  
}

.templateBoxVertical:hover {
  background-color: rgb(164, 164, 164);
}

.div1{
  width: 50%;
  height: 50%;
  border: 1px;
  border-style: dotted;
  box-sizing: border-box;
}

.div1-display{
  width: 50%;
  height: 50%;
}

.div1-display h1{
  font-size: 20px;
  padding-bottom: 4px;
  margin-top: 0px;
}
.div1-display h2{
  font-size: 12px;
}
.div1-display h3{
  font-size: 10px;
}
.div1-display p{
  font-size: 7px;
}
.div1-display #weathericon{
  width: 70px; 
  margin-top: -12px;
}
.div1-display #news-pic{
  width: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

} 
.div1-display textarea{
  font-family: "Poppins";
  background-color: transparent;
  height: 80%;
  width: 100%;
}

.templateBoxMain {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.templateBoxVerticalMain{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.MainTemplateCross{
  display: block;
  position: relative;
  top: -100%;
  width: 30px;
  padding-left: 9px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px #000000;
  border-style: solid;
  border-radius: 30px;
  background-color: whitesmoke;
}

.feature-button{
  display: flex;
  position: relative;
  top: 45%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1rem;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.background-image-list-container{
  width: 150px;
  height: auto;
  border: 2px #000000;
  border-style: solid;
  border-radius: 5px;
  flex-direction: row;
  flex: 0 0 auto;
  overflow-x: auto;
}
.background-images{
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#backgroundimage{
  background-size: auto;
  max-width: 100%;
  max-height: 100%;
}

.no-backgroundimg{
  width: 100%;
  height: 85px;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  border: 1px solid #000000;
}

/* HomeCard */

#home-section{
  position: relative;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
}

.home-title{ 
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 150px;
  margin-bottom: 250px;
}

.home-paragraph{
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #000000;
}

.home-card-container{
  width: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.home-section-h1{
  text-align: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.API-home-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}
.API-text-div{
  position: relative;
  display: grid;
  padding-left: 50px;
}
.home-API-title{
  position: relative;
  text-decoration: underline;
}
.home-API-p{
  position: relative;
  width: 400px;
}

.home-card-title{
  text-align: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: underline;
}

/* API Boxes */

.weatherBox{
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border: 1px rgb(0, 0, 0);
  border-style: solid;
  border-radius: 2px;
}

.weatherBox h3{
  border-bottom: 1px #f4f4f4;
}
.weather-location-city{
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.weather-location-state{
  text-align: center;
  margin-top: -25px;
  font-size: 1rem;
}
.weather-location-degrees{
  margin-top: 5px; 
  text-align: center;
  font-size: 2rem;
}
.weather-location-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: .1rem;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: -12px;
}
#weathericon {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
}

.API-container{
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px rgb(0, 0, 0);
  border-style: solid;
  border-radius: 2px;
}

.API-container #news-pic{
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.clockbox-day{
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.clockbox-time{
  font-size: 46px;
}
.clockbox-zone{
  margin-top: -10px;
  font-size: 14px;
}
.clockbox-date{
  margin-top: -15px;
  font-size: 18px;
}

#image-file-input{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  letter-spacing: .03rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.news-button{
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: .1rem;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}
.news-button:hover{
  background-color: rgb(164, 164, 164);
}

.news-description{
  
}

textarea{
  height: 80%;
  width: 100%;
  font-family: "Poppins";
}

.logo-component{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  border-radius: 50px;
}

div.slide-left {

  width: 100%;
  overflow: hidden;

}
div.slide-left p {
  animation: slide-left 15s;
  display: inline-block;
  white-space: nowrap;
  clear: both;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Profile */

.profile-title{
  text-align: center;
}

.profile--header{
  text-align: center;
}
.profile-workbench-container{
  position: relative;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 450px;
}

.profile-card{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000000;
}
.profile-card h2{
  text-align: center;
}
.profile-buttons{
  position: relative;
  display: grid; 
  justify-content: right;
  align-items: center;
  padding: 10px;
  margin-top: -220px;
  margin-right: 60px;
}

.profile-display-screen{
  width: 480px;
  height: 295px;
  border: 3px #000000;
  border-style: solid;
  border-radius: 5px;
}

.profile--display{
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}

.profile--delete{
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1rem;
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}

.profile--delete:hover {
  background-color: rgb(255, 86, 86);
}

.profile--link {
  text-decoration: none;
}

.profile--display:hover {
  background-color:rgb(137, 236, 126)
}

.empty-informationscreen-p{
  border-top: 1px solid #000000;
  padding-top: 30px;
  text-align: center;
}

/* Full Display */
.full-display-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.div1-full-screen{
  width: 100%;
  height: 100%;
}

.div1-full-screen h1{
  font-size: 50px;
}
.div1-full-screeny h2{
  font-size: 34px;
}
.div1-full-screen h3{
  font-size: 27px;
}
.div1-full-screen p{
  font-size: 13px;
}
.div1-full-screen #weathericon{
  width: 170px;
  padding-top: 20px;
}
.div1-full-screen #news-pic{
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
} 
.div1-full-screen textarea{
  font-family: "Poppins";
  background-color: transparent;
  text-align: center;
  font-size: 1.3rem;
  height: 80%;
  width: 100%;
}

.API-container-fulldisplay{
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 0 solid #000000;
}

.API-container-fulldisplay #news-pic{
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.weatherBox-fulldisplay{
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  width: 100%;
  height: 100%;
}
.weatherBox-fulldisplay h1{
  margin-top: 5px;
  margin-bottom: 10px;
}


